# API Configuration
OPENWEATHER_API_KEY=
CITY_NAME=

# Kafka Configuration
KAFKA_BOOTSTRAP_SERVERS=localhost:9092,localhost:9093
KAFKA_TOPIC=weather_topic

# Postgres Configuration
POSTGRES_USER=user
POSTGRES_PASSWORD=123456
POSTGRES_DB=weather_db